// creating variables in SASS
$bg-color : rgb(243, 225, 243);
$btn-color : rgb(138, 72, 138);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 100px;
    background-color: $bg-color;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .first{
        margin-left: 40px;
    }

    .second{
        width: auto;


        a{
            margin-left: 20px;
            text-decoration: none;

            &:hover{
                color: $btn-color;
                text-decoration: overline;
                border: 2px solid;
                padding: 5px;
                border-radius: 5px;
                transition: 0.4s ease-in;
            }

            &:active{
                color: red;
            }
        }
    }

    .third{
        margin-right: 40px;

        input{
            background-color: $btn-color;
            padding: 2px;
            border-radius: 5px;
            color: white;
            border: none;

            &:hover{
                background-color: $bg-color;
                color: $btn-color;
                border: 1px solid $btn-color;
                cursor: pointer;
            }
        }
    }
}

main {
    display: flex;
    margin-top: 20px;

    .left{

        width: 25%;

        div{
            display: flex;
            margin: 10px;
            padding: 10px;
            width: 150px;
            background-color: $bg-color;
            border-radius: 10px;
            cursor: pointer;

            i{
                margin-right: 30px;
                color: $btn-color;
                
            }
        }
    }

    .middle{
        width: 50%;

        .middle__box{
            background-color: $bg-color;
            padding: 25px;
            border-radius: 15px;
            height: 150px;
            margin-top: 25px;
            display: flex;

            img{
                height: 50px;
                width: 50px;
                border-radius: 50px;
                margin-right: 25px;
            }
        }

        .middle__box2 {
            background-color: $btn-color;
        }

    }

    .right{
        width: 25%;
        background-color: $bg-color;
        height: 500px;
        border-radius: 20px;
        margin: 20px;
        padding: 5px;

        h2{
            margin: 20px  0 15px 15px;
            color: #777171;
            font-weight: 500;

            &:hover{
                text-decoration: overline;
                border: 2px;
                color: $btn-color;
                transition: 0.4s ease-in;
            }
        }

        .right__box {
            display: flex;
            align-items: end;

            img{
                height: 150px;
                width: 200px;
                border: 2px solid $btn-color;
                border-radius: 20px;
                margin: 0 15px 0 10px;
                
            }

            p{
                text-align-last: center;
              
            }
        }

        .h__line {
            height: 3px;
            background-color: $btn-color;
            margin-top: 15px;
        }
        
        p{
            text-align: center;
            margin-top: 5px;
        }
    }

   
}
